Questions :
1. Write a Python program function that inputs a number and prints the multiplication
table of that number
Input = 9
Output =
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [3]:
n = int(input("Enter a number to find it multiplication table: "))
for i in range(0,10+1):
    print(n,'x',i,'=',n*i)

Enter a number to find it multiplication table: 9
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

2. Write a Python function to find the maximum and minimum of three numbers

In [10]:
def _max(n1,n2,n3):
    max_=[n1,n2,n3]
    print("the max of three number: ",max(max_))

In [11]:
x=int(input("enter 1st no: "))
y=int(input("enter 2nd no: "))
z=int(input("enter 3rd no: "))
max_num= _max(x,y,z)

enter 1st no: 1
enter 2nd no: 2
enter 3rd no: 3
the max of three number:  3

In [15]:
def _min(n1,n2,n3):
    max_=[n1,n2,n3]
    return min(max_)

In [16]:
_min(2,3,8)

2

In [ ]:
3.Write a function that takes in a list of floats and returns True if the list contains
duplicates and False if the list does not contain duplicates
Sample List : [1, 2, 3, 4, 5, 2, 7, 8, 9]
Result : True, Duplicate Number is : 2

In [29]:
def duplicate_check(test_list):
    new_list = set(test_list)
    print("old list",test_list)
    print("old list",new_list)
    print("you can see the difference above to check duplicate number is kicked out")
    return len(test_list) != len(new_list)

In [30]:
test=[1, 2, 3, 4, 5, 2, 7, 8, 9]
duplicate_check(test)

old list [1, 2, 3, 4, 5, 2, 7, 8, 9]
old list {1, 2, 3, 4, 5, 7, 8, 9}
you can see the difference above to check duplicate number is kicked out

True

In [8]:
#4. Write a LAMBDA function that takes in a list of floats and returns True if the list
# contains duplicates and False if the list does not contain duplicates
test=[1, 2, 3, 4, 5, 2, 7, 8, 9]
test2=set(test)

SyntaxError: 'return' outside function (2195835851.py, line 9)

5. Write a Python program function to create a Simple Calculator with operations (+, -,
*, /, ^ )

In [19]:
def add():
    x=int(input())
    y=int(input())
    add=x+y
    return add

def subtract():
    x=int(input())
    y=int(input())
    sub=x-y
    return sub
def divide():
    x=int(input())
    y=int(input())
    div=x/y
    return div
def product():
    x=int(input())
    y=int(input())
    prod=x*y
    return prod
def sqr():
    x=int(input())
    sqred=x/y
    return sqred

In [26]:
def calculator():
    user_call=input("Enter add,sub,divide,sqr to do operation: ").upper().strip()
    if user_call=='ADD':
        return add()
    elif user_call=="SUBTRACT":
        return sub()
    elif user_call=="DIVIDE":
        return divide()
    elif user_call=="PRODUCT":
        return product()
    elif user_call=="SQR":
        return sqr()
    else:
        pass
calculator()

Enter add,sub,divide,sqr to do operation: ADD
23
34

57

In [ ]:
#sir help me with this while loop
def calculator():
    loop=False
    user_call=input("Enter add,sub,divide,sqr to do operation: ").upper().strip()
    while loop==False:
        if user_call=='ADD':
            loop=False
            return add()
        elif user_call=="SUBTRACT":
            loop=False
            return sub()
        elif user_call=="DIVIDE":
            loop=False
    return divide()
        elif user_call=="PRODUCT":
            loop=False
    return product()
        elif user_call=="SQR":
            loop=False
    return sqr()
        else:
            x=input("You wanna try again y or n: ").upper()
            if x == "Y":
                loop=True
            if x=="N":
                loop=False
                print("The program gonna end")
            else:
                pass

In [ ]:
6. Generate a random list of 10 integers between 1 and 100, then print the minimum and
maximum values.

In [45]:
import random
new_list=[]
for i in range(10):
    random_num= random.randint(1,100)
    new_list.append(random_num)
print(new_list)

[85, 62, 44, 23, 78, 67, 4, 88, 1, 71]

In [ ]:
7. Use argument (*args) to get the table of 8:
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3= 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [47]:
def eight_table(*nums):
    for num in range(10+1):
        prod= 8*num
        print("8",'x',num,'=',prod)

In [48]:
eight_table(1,2,3,4,5,6,7,8,10)

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [63]:
#better method
def duplicate_check(test_list):
    new_list = set(test_list)
    print("old list",test_list)
    print("old list",new_list)
    print("you can see the difference above to check duplicate number is kicked out")
    if len(test_list) != len(new_list):
        r1=sum(test_list)
        r2=sum(new_list)
        dups=str(r1-r2)
    return "duplicate num is: " + dups

In [65]:
test=[1, 3, 3, 4, 5, 2, 2, 8, 9]
duplicate_check(test)

old list [1, 3, 3, 4, 5, 2, 2, 8, 9]
old list {1, 2, 3, 4, 5, 8, 9}
you can see the difference above to check duplicate number is kicked out

'duplicate num is: 5'

In [57]:
t=[1, 2, 3, 4, 5, 2, 7, 8, 9]
t2={1, 2, 3, 4, 5, 7, 8, 9}
r1=sum(t)
r2=sum(t2)

In [58]:
print(r1)

41

In [59]:
print(r2)

39

In [60]:
r3=r1-r2
print(r3)

2