Q. WRITE A PROGRAM TO PRINT THE FOLLOWING USING WHILE LOOP
FIRST 10 EVEN NUMBERS
FIRST 10 ODD NUMBERS
FIRST 10 NATURAL NUMBERS
FIRST 10 WHOLE NUMBER
find mystery number

In [6]:
# FIRST 10 EVEN NUMBERS
x=2
while(x<20):
    print(x)
    x=x+2

2
4
6
8
10
12
14
16
18

In [7]:
# FIRST 10 ODD NUMBERS
x=1
while(x<=20):
    print(x)
    x=x+2

1
3
5
7
9
11
13
15
17
19

In [8]:
# FIRST 10 NATURAL NUMBERS

In [9]:
x=1
while(x<=10):
    print(x)
    x= x+1

1
2
3
4
5
6
7
8
9
10

In [10]:
# FIRST 10 WHOLE NUMBER
x=0
while(x<10):
    print(x)
    x= x+1

0
1
2
3
4
5
6
7
8
9

In [11]:
string = " Hello \t World." 
string1 = r" Hello\nWorld."
string2 = " Hello\nWorld."
print(string)
print(string1)
print(string2)

 Hello 	 World.
 Hello\nWorld.
 Hello
World.

WRITE A PYTHON PROGRAM TO PRINT FIRST 10 INTEGERS AND 
THEIR SQAURES USING WHILE LOOP ..1 1 , 2 4 , 3 9
WRITE FOR LOOP STATEMENT TO PRINT THE FOLLOWING SERIES:
10, 20 ,30 ,.... 300
write a while loop statement to print the following series 105.98,21,....7
write a program to print first 10 natural numbers in reverse order using while loop

In [12]:
# WRITE A PYTHON PROGRAM TO PRINT FIRST 10 INTEGERS AND 
# THEIR SQAURES USING WHILE LOOP ..1 1 , 2 4 , 3 9

In [13]:
num =1
print("Numbers\t\tSqaures")
while(num<=10):
    print(num,"\t---\t\t---",num**2)
    num = num+1

Numbers		Sqaures
1 	---		--- 1
2 	---		--- 4
3 	---		--- 9
4 	---		--- 16
5 	---		--- 25
6 	---		--- 36
7 	---		--- 49
8 	---		--- 64
9 	---		--- 81
10 	---		--- 100

In [14]:
#WRITE FOR LOOP STATEMENT TO PRINT THE FOLLOWING SERIES:
# 10, 20 ,30 ,.... 300

In [15]:
num=10
while (num<=300):
    print(num)
    num=num+10

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [16]:
#write a while loop statement to print the following series 105.98,21,....7

In [17]:
num=105
while (num>=7):
    print(num)
    num=num-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [18]:
#write a program to print first 10 natural numbers in reverse order using while loop
num=10
while (num>=1):
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1

WRITE A PROGRAM TO PRINT SUM OF FIRST 10 NATURAL NUMBERS.
WRITE A PROGRAM TO PRINT SUM OF FIRST 10 EVEN INTEGERS NUMBERS
WRITE A PROGRAM TO PRINT TABLE OF NUMBER ENTERED FROM THE USER
WRITE A PROGRAM TO PRINT ALL EVEN NUMBERS THAT FALLS BETWEEN TWO NUMBERS
(EXCLUSIVE BOTH NUMBERS) ENTERED FRIN THE USER USING WHILE LOOP

In [19]:
#WRITE A PROGRAM TO PRINT SUM OF FIRST 10 NATURAL NUMBERS.

In [20]:
num=10
sums=0
while num>=1:
    sums= sums+num
    num= num-1
    print(sums)
print("Total",sums)

10
19
27
34
40
45
49
52
54
55
Total 55

In [21]:
#WRITE A PROGRAM TO PRINT SUM OF FIRST 10 EVEN INTEGERS NUMBERS
num=20
sums=0
while(num>=1):
    if num%2==0:
        sums=sums+num
        num= num-2
        print(sums)

20
38
54
68
80
90
98
104
108
110

In [22]:
num=2
sums= 0
while num<=20:
    sums =sums + num
    num = num+2
    print(sums)
print("TOTAL", sums)

2
6
12
20
30
42
56
72
90
110
TOTAL 110

In [23]:
#WRITE A PROGRAM TO PRINT TABLE OF NUMBER ENTERED FROM THE USER
i=0
num=int(input("enter a number to find its table"))
while i<10:
    i= i+1
    
    print(num,'x',i,'=',i*num)

enter a number to find its table3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [24]:
#WRITE A PROGRAM TO PRINT ALL EVEN NUMBERS THAT FALLS BETWEEN TWO NUMBERS
#(EXCLUSIVE BOTH NUMBERS) ENTERED FRIN THE USER USING WHILE LOOP

In [25]:
num1=int(input("enter a first no: "))
num2=int(input("enter a second no: "))
if num1>num2:
    while(num1>num2):
        if num2%2==0:
            print(num2)
        num2=num2+1
else:
    while(num1<num2):
        if num1%2==0:
            print(num1)
        num1=num1+1

enter a first no: 22
enter a second no: 54
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52

In [28]:
num1=int(input("enter a first no: "))
num2=int(input("enter a second no: "))
if num1>num2:
    while(num1>num2):
        if num2%2==0:
            print(num2)
        num2=num2+1
else:
    while(num1<num2):
        if num1%2==0:
            print(num1)
        num1=num1+1

enter a first no: 12
enter a second no: 32
12
14
16
18
20
22
24
26
28
30

WRITE A PYTHON PROGRAM TO CHECK WHETER A NUMBER IS PRIME OR NOT USING WHILE LOOP
WRITE A PROGRAM TO FIND THE SUM OF THE DIGITS OF A NUMBER ACCEPTED FROM THE USER
WRITE A PROGRAM TO FIND THE PRODUCT OF THE DIGITS OF A NUMBER ACCEPTED FROM THE USER
WRITE A PROGRAM TO REVERSE THE NUMBER ACCEPTED FROM USER USING WHILE LOOP
WRITE A PROGRAM TO DISPLAY THE NUMBER NAMES OF THE DIGITS ENTERED BY USER. FOR EXAMPLE IF THE NUMBER IS
231 THE OUTPUT SHOULD BE TWO THREE ONE

In [29]:
#WRITE A PYTHON PROGRAM TO CHECK WHETER A NUMBER IS PRIME OR NOT USING WHILE LOOP

In [31]:
num1=int(input("Enter any number to check if its a prime number or not"))
k=0
if num1==0 or num1==1:
    print("not a prime number")
else:
    i=2
    while(i<num1):
        if num1%i==0:
            k=k+1
        i+=1
if k==0:
    print(num1,' is a prime number')
else:
    print(num1,' is a not prime number')

Enter any number to check if its a prime number or not22
22  is a not prime number

In [ ]:
#WRITE A PROGRAM TO FIND THE SUM OF THE DIGITS OF A NUMBER ACCEPTED FROM THE USER

In [55]:
num1=int(input("Enter any no: "))
r=0
s=0
while(num1!=0):
    r=num1%10
    s=s+r
    num1=num1//10
print("sum of the digits are: ",s)

Enter any no: 4567
sum of the digits are:  22

In [65]:
4//10

0

In [66]:
0%10

0

In [67]:
7+6+5+4

22

In [ ]:
#WRITE A PROGRAM TO FIND THE PRODUCT OF THE DIGITS OF A NUMBER ACCEPTED FROM THE USER

In [69]:
num1=int(input("Enter any no: "))
r=0
p=1
while(num1!=0):
    r=num1%10
    p=p*r
    num1=num1//10
print("product of the digits are: ",s)

Enter any no: 342
product of the digits are:  24

In [ ]:
#WRITE A PROGRAM TO REVERSE THE NUMBER ACCEPTED FROM USER USING WHILE LOOP

In [101]:
num1=int(input("Enter any no: "))
r=0
rnum=0
while(num1!=0):
    r=num1%10
    rnum=rnum*10+r
    num1=num1//10
print("reverse of the digits are: ",rnum)

Enter any no: 67023
reverse of the digits are:  32076

In [ ]:
# WRITE A PROGRAM TO DISPLAY THE NUMBER NAMES OF THE DIGITS ENTERED BY USER. FOR EXAMPLE IF THE NUMBER IS 231 THE OUTPUT SHOULD BE TWO THREE ONE

In [122]:
num1= input("enter any number: ")
L1=list(num1)
L=len(L1)
i=0
n={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
while(i<L):
    print(n[int(L1[i])],end=" ")
    i=i+1

enter any number: 345
Three Four Five

mark poin start from question number 15 of
https://csiplearninghub.com/questions-of-while-loop-in-python/

In [31]:
def add(num):
    return num+1

In [32]:
n=[0,1,2,3,4,5]
list(map(add,n))

[1, 2, 3, 4, 5, 6]

In [33]:
for item in map(add,n):
    print(item)

1
2
3
4
5
6

In [34]:
list(map(add,n))

[1, 2, 3, 4, 5, 6]

In [35]:
def splicer(mystr):
    if len(mystr)%2==0:
        return 'EVEN'
    else:
        return mystr[0]

In [36]:
name=['regina','tassang','jui','ryuk']

In [37]:
list(map(splicer,name))

['EVEN', 't', 'j', 'EVEN']

In [55]:
def check_even(num):
    return num%2==0

In [56]:
mynums= [1,2,3,4,5,6]
list(map(check_even,mynums))

[False, True, False, True, False, True]

In [57]:
list(filter(check_even,mynums))

[2, 4, 6]

In [60]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [67]:
list(map(lambda x:x **2,mynums))

[1, 4, 9, 16, 25, 36]

In [68]:
list(map(lambda y:y * 3,mynums))

[3, 6, 9, 12, 15, 18]

In [69]:
list(filter(lambda num:num %2 ==0,mynums))

[2, 4, 6]

In [70]:
names = ['Andy','Eve','Sally']
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

In [ ]:
# WRITE A PYTHON PROGRAM TO PRINT THE FIBONACCI SERIES TILL N TERMS

In [7]:
n=int(input("How many terms of you want in fibonacci series: "))
if n==1:
    print('1')
elif n==2:
    print("1,1")
elif n<=0:
    print("Please enter positive number greater than 0")
else:
    ft=1
    st=1
    print(ft,end=' ')
    print(st,end=' ')
    i=2
    while(i<n):
        nt=ft+st
        print(nt,end=' ')
        ft=st
        st=nt
        i=i+1

How many terms of you want in fibonacci series: 4
1 1 2 3

In [8]:
# write a program to print the factorial of given number

In [11]:
n=int(input("Enter a number to find its factorial: "))
f=1
i=1
while(i<=n):
    f=f*i
    i=i+1
print('Fact of number is :',f)

Enter a number to find its factorial: 4
Fact of number is : 24

In [17]:
#write a python program to check if th number is an armstrong or not

In [28]:
num1=input("enter any number: ")
p=0
L=len(num1)
L2=list(num1)
i=0
while(i<L):
    p=p+int(L2[i])**3
    i=i+1
if int(num1)==p:
    print("Its an armsstrong number")
else:
    print("not an armstrong number")

enter any number: 153
Its an armsstrong number

In [36]:
#write a python program to add first n terms of the following series using loop:
# 1/1! + 1/2! + 1/3!............... 1/n!

In [53]:
num=int(input("enter any number: "))
sums=0
fact=1
i=1
while(i<num):
    fact=fact*1
    sums=sums+ i/fact
    i=i+1
print("sums is          : ",round(sums))

enter any number: 5
sums is          :  10