In [13]:
#Statement and condition
#if, elif and else
name = [1,2,3,4,5,6,7,8,9,10]
for i in name:
    if i%2==0:
        print(i)
else:
    print(f'Odd no. is {i}')

2
4
6
8
10
Odd no. is 10

In [10]:
#iterate over string
mystring ="Hello world"
for letter in mystring:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [12]:
#forloop without variable 
for _ in "Tassang":
    print(["tHello world"])

['tHello world']
['tHello world']
['tHello world']
['tHello world']
['tHello world']
['tHello world']
['tHello world']

In [ ]:
myno = [1,2,3,4,5]
empy= 0
for i in myno range(10(len(myno))):
    no = myno + empy
    i = no
    print(i)

In [17]:
#tuple unpacking
mytup = [(24,12),(1,2),(4,5)]
for a,b in mytup:
    print()
    print(b)

12

2

5

In [19]:
mytup = [(24,12,23),(1,2,435),(4,5,3)]
for a,b,c in mytup:
    print(a)
    print(b)
    print(c)

24
12
23
1
2
435
4
5
3

In [28]:
# for loop in dictionary
d = {'a':1,'b':2,'c':3}
for item in d.keys():
    print(item)
    print(d.values())

a
dict_values([1, 2, 3])
b
dict_values([1, 2, 3])
c
dict_values([1, 2, 3])

In [1]:
# WHILE LOOPS IN PYTHON

In [2]:
#while boolean_Condition:
#do something
  #  false:
    #    do something else

In [6]:
x=0
while x<5:
    print(f'The current value of x is {x}')
          #x+=1
    x = x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [7]:
x=50
while x<5:
    print(f'The current value of x is {x}')
          #x+=1
    x = x+1
else:
    print("x is greater than 5")

x is greater than 5

In [8]:
#BREAK,CONTINUE,PASS

In [14]:
#Break: breaks out of the closest enclosing group
#Continue: Goes to the top of enclosing group
#Pass: does nothing used as place holder

In [18]:
x= [1,2,3]
for item in x:
    pass
print("this is place holder")

this is place holder

In [25]:
my_string = 'April'
for letter in my_string:
    if letter == 'i':
        break
    print(letter)

A
p
r

In [72]:
x = "hage tassang"
for name in x:
    if name == "a":
        print(name.upper())
    elif name == "e":
        print(name, x.count('a'))
        continue  
    elif name == 'g':
        break
    print(name)
print("work done")

    
    ##my tries

h
A
a
work done

In [70]:
name =' DaNny'
for n in name:
    if x == 'N':
        break
    print(n.upper())

D
A
N
N
Y

In [74]:
#Random libary
from random import shuffle
mylist = [1,2,3,4,5,6,7,8]
shuffle(mylist)
rdl = mylist
print(rdl)

[6, 4, 8, 3, 7, 1, 5, 2]

In [75]:
type(rdl)

list

In [82]:
print("             CALCULATOR TO ADD TWO GIVEN NO>               ")
print("\n")
number = float(input("Enter first no: "))
number2 = float(input("Enter second no: "))
x = number+number2
print("Addition of your two given no: ",x)

             CALCULATOR TO ADD TWO GIVEN NO>


Enter first no: 123
Enter second no: 123
Addition of your two given no:  246.0

In [86]:
## Use min max and store it value and make a list out of 1 and 9 sequence upto 4 times as final output
#ANSWER
l1 = [1,2,3,4,5,6,7,8,9]
l2 = [1,2,3,4,5,6,7,8,9]
l3 = [1,2,3,4,5,6,7,8,9]
l4 = [1,2,3,4,5,6,7,8,9]
result = min(l1),max(l1),min(l2),max(l2),min(l3),max(l3),min(l4),max(l4)
print(list(result))

[1, 9, 1, 9, 1, 9, 1, 9]

In [87]:
counter = 0
for words in "abcde":
    print("This is your index value: {}  that holds this letter in that pos: {}".format(counter,words))
    counter += 1

This is your index value: 0  that holds this letter in that pos: a
This is your index value: 1  that holds this letter in that pos: b
This is your index value: 2  that holds this letter in that pos: c
This is your index value: 3  that holds this letter in that pos: d
This is your index value: 4  that holds this letter in that pos: e